<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="server" value="192.168.46.49" />
        <add key="port" value="5000" />
        <add key="download_dir" value="c:\users\USER\Desktop\" />
        <add key="upload_dir" value="F:\Downloads\Windows\" />
    </appSettings>
</configuration>